@font-face {
    font-family: "Belwe Bold";
    src: url(../fonts/BelweBold.otf) format("opentype");
}

@font-face {
    font-family: "Big Noodle Titling";
    src: url(../fonts/big_noodle_titling.ttf) format("truetype");
}

@font-face {
    font-family: "Alegreya Sans";
    src: url(../fonts/AlegreyaSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Podkova";
    src: url(../fonts/Podkova-Regular.ttf) format("truetype");
}

// @font-face {
//     font-family: "Netflix Sans Medium";
//     src: url(../fonts/NetflixSansMedium.otf) format("opentype");
// }
