.hearthstoneCard {
    position: relative;
    width: 22rem;
    height: 31rem;
    z-index: 1;
    cursor: pointer;
}

.glow {
    display: block;
    content: "";
    position: absolute;
    // animation: 2s ease-in-out 0s infinite alternate none running front;
    animation: glow 1s infinite alternate;
    width: 85%;
    height: 85%;
    top: 50%;
    left: 50%;
    z-index: -1;
    //Check out why z-index -1 for the psuedo element and z-index 1 for the element is needed; perculiar behaviour
    //https://stackoverflow.com/questions/3032856/is-it-possible-to-set-the-stacking-order-of-pseudo-elements-below-their-parent-e
    opacity: 0.45;
    transform: translate3d(-50%, -50%, 0px);
    transition: opacity 0.25s ease-out 0s;
    max-width: 270px;
}
@keyframes glow {
    from {
        box-shadow: 0 0 10px -10px #aef4af;
    }
    to {
        box-shadow: 0 0 10px 10px #aef4af;
    }
}

.front,
.back {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.back {
    background-image: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/bltcbd3f175e6b989c0/60020fcd0d1ff8616fdd18ff/cardback.png?format=webp);
}

.front {
    background-image: url(https://d15f34w2p8l1cc.cloudfront.net/hearthstone/92363d0d08f0a71e7ef4c886795def7c5df95167ea299e2b6acad37e2a7073bd.png);
}
