.headerContainer {
    position: relative; //need it because overlay is positionLfixed
    z-index: 1;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    // @media screen and (min-width: $sm_breakpoint) {
    //     padding: 2rem 4rem;
    // }
    @media screen and (min-width: $md_breakpoint) {
        padding: 0.5rem 2rem;
    }
    color: rgba(255, 255, 255, 0.7);
    h1 {
        cursor: pointer;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 1.7rem;
        margin-left: 3rem;
        // @media screen and (min-width: $md_breakpoint) {
        //     padding: 2rem 6rem;
        // }
    }
}

.navBarSvg {
    fill: currentColor;
    color: #009ae4;
    background-size: auto 28px;
}
.hamburger,
.accountIcon {
    width: 4.8rem;
    height: 4.8rem;
    display: block;
    @media screen and (min-width: $md_breakpoint) {
        display: none;
    }
}

.blizzardLogo {
    width: 6rem;
    height: 4.8rem;
    @media screen and (min-width: $md_breakpoint) {
        width: 7.5rem;
        height: 6rem;
    }
}

.gamesAndShopHeaderWrap {
    display: flex;
    align-items: center;
}

.modalBlizzardWrap {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.modalBlizzardLogo {
    width: 12rem;
    height: 7rem;
    margin: 0 auto;
}
.modalText {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.6rem;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.7);
    padding: 1.4rem 1.5rem;
    border-top: solid 1px rgba(255, 255, 255, 0.08);
    margin: 0 1rem;
}

.headerPresentation {
    position: relative; //need it because overlay is positionLfixed
    z-index: 1;
    display: flex;
    padding: 1rem 4rem;
    padding-bottom: 10rem;
    background-color: rgba(21, 26, 35, 0.95);
    background: radial-gradient(
        ellipse farthest-side at center top,
        #283244 0%,
        rgba(21, 26, 35, 0.95) 100%
    );
    border: solid 1px rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 17px 0 rgb(0 0 0 / 20%);
}

.presentationGameLogo {
    width: 6.4rem;

    margin-right: 5rem;
    img {
        width: 100%;
    }
    .presentationGameTitle {
        margin: 0;
        text-align: center;
    }
}

.presentationOverlay {
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}

.toggledGamesHeader {
    color: white;
    transition: all 0.2s ease-in;
}

.modalPresentation {
    padding: 2rem 1rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.modalPresentationGameWrap {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 1rem;
}
.modalPresentationGameLogo {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 0.75rem;
}
.modalPresentationGameTitle {
    margin: 0;
    margin-left: 0.75rem;
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.gamesHeaderTextWrap {
    display: none;
    @media screen and (min-width: $md_breakpoint) {
        display: flex;
        align-items: center;
    }
}
.headerTextArrow {
    font-size: 3rem;
}
.gamesModalText {
    display: flex;
    align-items: center;
    border-top: solid 1px rgba(255, 255, 255, 0.08);
}
