.hearthstoneHeroesCarouselProvider {
    .sliderTray___-vHFQ {
        width: calc(13.5rem * 7) !important;
        @media screen and (min-width: $sm_breakpoint) {
            width: calc(23rem * 7) !important;
        }
        @media screen and (min-width: $lg_breakpoint) {
            width: calc(25rem * 7) !important;
        }
        @media screen and (min-width: $xl_breakpoint) {
            width: calc(700% / 4) !important;
        }
    }

    @media screen and (min-width: $xl_breakpoint) {
        padding: 0 12rem;
    }
}
.hearthstoneHeroeslide {
    // &:nth-child(even) {
    //     left: -8rem;
    // }
    // &:nth-child(odd) {
    //     left: -8rem;
    //     background: red;
    // }
    // &:nth-last-child(1) {
    //     left: 0rem;
    //     background: orange;
    // }

    // @media screen and (min-width: $sm_breakpoint) {
    //     left: -5rem;
    // }
    // left: -1rem;
    // &:nth-child(1) {
    //     left: 3rem;
    // }
}
.hearthstoneHeroesSlideInnerWrap {
    width: 12rem;
    height: 100%;
    position: relative;
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        @media screen and (min-width: $xl_breakpoint) {
            width: 20rem;
        }
    }
    h4 {
        position: absolute;
        left: 50%;
        bottom: 5rem;
        transform: translateX(-50%);
        text-shadow: rgb(0 0 0) 2px 0px 0px;
        @media screen and (min-width: $sm_breakpoint) {
            bottom: 9rem;
            font-size: 1.8rem;
        }
    }
    @media screen and (min-width: $sm_breakpoint) {
        width: 20rem;
    }
    @media screen and (min-width: $xl_breakpoint) {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.hearthstoneHeroesSliderAndButtonWrap {
    position: relative;
}
.hearthstoneHeroesBackButton,
.hearthstoneHeroesNextButton {
    width: 8rem;
    height: 7rem;
    outline: none !important;
    box-shadow: none !important;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.hearthstoneHeroesBackButton {
    background: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616862907/blizzard/hearthstone/whjmirydlmnqdcmpn7fo.png) -2px -3px
        no-repeat transparent;
    left: -10rem;
}

.hearthstoneHeroesNextButton {
    background: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616862907/blizzard/hearthstone/whjmirydlmnqdcmpn7fo.png) -102px -3px
        no-repeat transparent;
    right: -10rem;
}

.hideHearthstoneButton {
    display: none;
}

.placeholder {
    width: 100%;
    height: 100%;
}
