.headerContainer {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    // @media screen and (min-width: $sm_breakpoint) {
    //     padding: 2rem 4rem;
    // }
    @media screen and (min-width: $md_breakpoint) {
        padding: 0.5rem 2rem;
    }
    color: rgba(255, 255, 255, 0.7);
    h1 {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 1.7rem;
        margin-left: 3rem;
        // @media screen and (min-width: $md_breakpoint) {
        //     padding: 2rem 6rem;
        // }
        display: none;
        @media screen and (min-width: $md_breakpoint) {
            display: block;
        }
    }
}

.navBarSvg {
    fill: currentColor;
    color: #009ae4;
    background-size: auto 28px;
}
.hamburger,
.accountIcon {
    width: 4.8rem;
    height: 4.8rem;
    display: block;
    @media screen and (min-width: $md_breakpoint) {
        display: none;
    }
}

.blizzardLogo {
    width: 6rem;
    height: 4.8rem;
    @media screen and (min-width: $md_breakpoint) {
        width: 7.5rem;
        height: 6rem;
    }
}

.gamesAndShopHeaderWrap {
    display: flex;
    align-items: center;
}
.headerAuthWrap {
    display: flex;
    align-items: center;
    color: #d9dadd;
}

.headerProfileText {
    cursor: pointer;
    margin-right: 2rem;
    font-size: 1.3rem;
    font-weight: normal;
    @media screen and (min-width: $sm_breakpoint) {
        font-size: 1.7rem;
    }

    @media screen and (min-width: $lg_breakpoint) {
        font-size: 1.7rem;
    }
}

.headerAuthText {
    cursor: pointer;

    font-weight: normal;
    font-size: 1.3rem;
    @media screen and (min-width: $sm_breakpoint) {
        font-size: 1.7rem;
    }

    @media screen and (min-width: $lg_breakpoint) {
        font-size: 1.7rem;
    }
}
.headerLogoImageWrap {
    width: 15rem;
    img {
        width: 100%;
    }
    cursor: pointer;
}
