.homeCareerContainer {
    width: 100%;
    height: 40rem;
    position: relative;
    overflow: hidden;
    border: 1px solid transparent;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    margin-bottom: 5rem;
}

.homeCareerTextWrap {
    position: absolute;
    left: 3rem;
    top: 50%;
    transform: translateY(-50%);
}

.createWorldText {
    margin: 0;
    font-size: 4.4rem;
    font-weight: normal;
    margin-bottom: 1rem;
}
.careerDescText {
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
    font-weight: normal;
    font-size: 2rem;
}
