/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /*If default font-size is 16px; 1 rem = 10 px*/
  box-sizing: inherit;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin-top: 5rem;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template,
[hidden] {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
body {
  margin: 0;
  background-color: #1b2838;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  /*If default font-size is 16px; 1 rem = 10 px*/
  font-size: 62.5%;
}

body {
  /*Make default font-size bigger. If default font-size is 16px; 1.6 rem = 16 px*/
  font: 1.1rem "", Arial, sans-serif, Helvetica;
}

.loadingCenter {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}
@media screen and (min-width: 768px) {
  .loadingCenter {
    padding: 10rem 0;
  }
}

.headerContainer {
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  color: rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 768px) {
  .headerContainer {
    padding: 0.5rem 2rem;
  }
}
.headerContainer h1 {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.7rem;
  margin-left: 3rem;
  display: none;
}
@media screen and (min-width: 768px) {
  .headerContainer h1 {
    display: block;
  }
}

.navBarSvg {
  fill: currentColor;
  color: #009ae4;
  background-size: auto 28px;
}

.hamburger,
.accountIcon {
  width: 4.8rem;
  height: 4.8rem;
  display: block;
}
@media screen and (min-width: 768px) {
  .hamburger,
.accountIcon {
    display: none;
  }
}

.blizzardLogo {
  width: 6rem;
  height: 4.8rem;
}
@media screen and (min-width: 768px) {
  .blizzardLogo {
    width: 7.5rem;
    height: 6rem;
  }
}

.gamesAndShopHeaderWrap {
  display: flex;
  align-items: center;
}

.modalBlizzardWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.modalBlizzardLogo {
  width: 12rem;
  height: 7rem;
  margin: 0 auto;
}

.modalText {
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.7);
  padding: 1.4rem 0.5rem;
  border-top: solid 1px rgba(255, 255, 255, 0.08);
}

.headerPresentation {
  display: flex;
  padding: 1rem 4rem;
  padding-bottom: 10rem;
  background-color: rgba(21, 26, 35, 0.95);
  background: radial-gradient(ellipse farthest-side at center top, #283244 0%, rgba(21, 26, 35, 0.95) 100%);
  border: solid 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.presentationGameLogo {
  width: 6.4rem;
  margin-right: 5rem;
}
.presentationGameLogo img {
  width: 100%;
}
.presentationGameLogo .presentationGameTitle {
  margin: 0;
  text-align: center;
}

.presentationOverlay {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.toggledGamesHeader {
  color: white;
  transition: all 0.2s ease-in;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalBox {
  position: relative;
  padding: 1rem;
  cursor: initial;
  background-color: #151a23;
  height: 100%;
  width: 28rem;
  overflow: hidden;
}
.modalBox h2 {
  display: none;
}
.modalBox .modalCloseIcon {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  font-size: 2rem;
  color: #00aeff;
}

.centerLoadingForModal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalTest {
  width: 10rem;
  height: 10rem;
  background-color: blue;
}

.presentationOverlay {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.serverErrorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}
.serverErrorContainer h3 {
  color: white;
  font-size: 1.1rem;
  font-weight: normal;
  padding: 3rem;
}
@media screen and (min-width: 768px) {
  .serverErrorContainer h3 {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .serverErrorContainer {
    padding: 10rem 0;
  }
}

.gameCarouselWrap {
  width: 100%;
}

.sliderAndDotWrap {
  position: relative;
}

.dotWrap {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.dotWrap button {
  position: relative;
  transition: background-color 0.2s;
  background: rgba(255, 255, 255, 0.5);
  outline: none !important;
  box-shadow: none !important;
  border: none;
  margin-right: 0.3rem;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  padding: 1rem 5rem;
}
.dotWrap .carousel__dot--selected {
  background: #0086ca !important;
}

.homeCarouselContainer {
  display: flex;
  width: 100%;
  cursor: pointer;
  height: 100%;
}
.homeCarouselContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.backgroundContainer {
  background: black;
  height: 100%;
}

.dotFill {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: red;
}

/*# sourceMappingURL=main.css.map */
