/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /*If default font-size is 16px; 1 rem = 10 px*/
  box-sizing: inherit;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin-top: 5rem;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template,
[hidden] {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
body {
  margin: 0;
  background-color: #1b2838;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  /*If default font-size is 16px; 1 rem = 10 px*/
  font-size: 62.5%;
}

body {
  /*Make default font-size bigger. If default font-size is 16px; 1.6 rem = 16 px*/
  font: 1.1rem "", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "Belwe Bold";
  src: url(../fonts/BelweBold.otf) format("opentype");
}
@font-face {
  font-family: "Big Noodle Titling";
  src: url(../fonts/big_noodle_titling.ttf) format("truetype");
}
@font-face {
  font-family: "Alegreya Sans";
  src: url(../fonts/AlegreyaSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Podkova";
  src: url(../fonts/Podkova-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Config";
  src: url(../fonts/ConfigCondensedRegular.otf) format("opentype");
}
.loadingCenter {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}
@media screen and (min-width: 768px) {
  .loadingCenter {
    padding: 10rem 0;
  }
}

.headerContainer {
  position: relative;
  z-index: 1;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  color: rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 768px) {
  .headerContainer {
    padding: 0.5rem 2rem;
  }
}
.headerContainer h1 {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.7rem;
  margin-left: 3rem;
}

.navBarSvg {
  fill: currentColor;
  color: #009ae4;
  background-size: auto 28px;
  cursor: pointer;
}

.hamburger,
.accountIcon {
  width: 4.8rem;
  height: 4.8rem;
  display: block;
}
@media screen and (min-width: 768px) {
  .hamburger,
.accountIcon {
    display: none;
  }
}

.blizzardLogo {
  width: 6rem;
  height: 4.8rem;
}
@media screen and (min-width: 768px) {
  .blizzardLogo {
    width: 7.5rem;
    height: 6rem;
  }
}

.gamesAndShopHeaderWrap {
  display: flex;
  align-items: center;
}

.modalBlizzardWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.modalBlizzardLogo {
  width: 12rem;
  height: 7rem;
  margin: 0 auto;
}

.modalText {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.7);
  padding: 1.4rem 1.5rem;
  border-top: solid 1px rgba(255, 255, 255, 0.08);
  margin: 0 1rem;
}

.headerPresentation {
  position: relative;
  z-index: 1;
  display: flex;
  padding: 1rem 4rem;
  padding-bottom: 10rem;
  background-color: rgba(21, 26, 35, 0.95);
  background: radial-gradient(ellipse farthest-side at center top, #283244 0%, rgba(21, 26, 35, 0.95) 100%);
  border: solid 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.presentationGameLogo {
  width: 6.4rem;
  margin-right: 5rem;
}
.presentationGameLogo img {
  width: 100%;
}
.presentationGameLogo .presentationGameTitle {
  margin: 0;
  text-align: center;
}

.presentationOverlay {
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

.toggledGamesHeader {
  color: white;
  transition: all 0.2s ease-in;
}

.modalPresentation {
  padding: 2rem 1rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.modalPresentationGameWrap {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.modalPresentationGameLogo {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0.75rem;
}

.modalPresentationGameTitle {
  margin: 0;
  margin-left: 0.75rem;
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.gamesHeaderTextWrap {
  display: none;
}
@media screen and (min-width: 768px) {
  .gamesHeaderTextWrap {
    display: flex;
    align-items: center;
  }
}

.headerTextArrow {
  font-size: 3rem;
  cursor: pointer;
}

.gamesModalText {
  display: flex;
  align-items: center;
  border-top: solid 1px rgba(255, 255, 255, 0.08);
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalBox {
  position: relative;
  cursor: initial;
  background-color: #151a23;
  height: 100%;
  width: 28rem;
  overflow: hidden;
}
.modalBox h2 {
  display: none;
}
.modalBox .modalCloseIcon {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  font-size: 2rem;
  color: #00aeff;
}

.centerLoadingForModal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalTest {
  width: 10rem;
  height: 10rem;
  background-color: blue;
}

.presentationOverlay {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.serverErrorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}
.serverErrorContainer h3 {
  color: white;
  font-size: 1.1rem;
  font-weight: normal;
  padding: 3rem;
}
@media screen and (min-width: 768px) {
  .serverErrorContainer h3 {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .serverErrorContainer {
    padding: 10rem 0;
  }
}

.homeGamesSection {
  background: url("https://res.cloudinary.com/du8n2aa4p/image/upload/v1616696651/blizzard/background-generic-landscape-short.31b43a7823e13c6383e5e613b04b5b58.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 3rem 3rem;
  background-size: cover;
}
@media screen and (min-width: 520px) {
  .homeGamesSection {
    padding: 3rem 11rem;
  }
}
@media screen and (min-width: 768px) {
  .homeGamesSection {
    padding: 3rem 12rem;
  }
}
@media screen and (min-width: 992px) {
  .homeGamesSection {
    padding: 3rem 20rem;
  }
}
@media screen and (min-width: 1200px) {
  .homeGamesSection {
    padding: 3rem 16rem;
  }
}

.homeGamesTitle {
  margin: 0;
  font-size: 2.7rem;
  letter-spacing: 0.1rem;
  font-weight: normal;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .homeGamesTitle {
    font-size: 3.5rem;
    letter-spacing: 0.3rem;
  }
}
@media screen and (min-width: 992px) {
  .homeGamesTitle {
    font-size: 4rem;
  }
}

.homeGamesCardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  .homeGamesCardsContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  .homeGamesCardsContainer {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3rem;
  }
}

.homeGamesCard {
  cursor: pointer;
  width: 100%;
  transition: cubic-bezier(0.16, 1, 0.3, 1);
  transition-duration: 100ms;
  transition: filter 500ms, transform 500ms;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  transform: rotate(0.01deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.homeGamesCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homeGamesCard:hover {
  -webkit-filter: brightness(115%) contrast(90%);
  filter: brightness(115%) contrast(90%);
  transform: scale(1.05);
  border: solid 1px rgba(255, 255, 255, 0.15);
  border-color: rgba(0, 174, 255, 0.5);
}

.hearthstoneContainer {
  font-family: "Belwe Bold";
}

.hearthstoneBanner {
  position: relative;
  min-height: 70rem;
}
.hearthstoneBanner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.4;
}

.hearthstoneBannerImage {
  background: url("https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt36a245168d60a815/5f737452ebec920d7046f481/evergreen-header-mobile.jpg") center top/cover no-repeat;
}

.hearthstoneBannerVid {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

.hearthstoneBannerTextWrap {
  padding: 3rem;
  position: relative;
  z-index: 1;
  width: 100%;
  padding-top: 5rem;
}
@media screen and (min-width: 768px) {
  .hearthstoneBannerTextWrap {
    width: 50rem;
    padding: 3rem 5rem;
  }
}
@media screen and (min-width: 992px) {
  .hearthstoneBannerTextWrap {
    padding-top: 15rem;
  }
}
@media screen and (min-width: 1200px) {
  .hearthstoneBannerTextWrap {
    width: 70rem;
  }
}

.hearthstoneBannerTitle {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 3rem;
}
@media screen and (min-width: 768px) {
  .hearthstoneBannerTitle {
    font-size: 4.4rem;
  }
}

.hearthstoneBannerDesc {
  font-size: 1.7rem;
}

.hearthstoneCardsSection {
  padding: 5rem 0;
  padding-left: 1rem;
  background: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616784871/blizzard/hearthstone/red-felt-bg.jpg) center top/cover no-repeat;
}
@media screen and (min-width: 1200px) {
  .hearthstoneCardsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5rem 5rem;
  }
}

.hearthstoneCardsWrap {
  justify-content: space-around;
}
@media screen and (min-width: 992px) {
  .hearthstoneCardsWrap {
    display: flex;
    margin-top: none;
  }
}

.hearthstoneDiscoverText {
  padding: 0 4rem;
  margin: 0;
  text-shadow: black 2px 0px 0px;
  text-align: center;
  font-size: 3.4rem;
  margin: 0;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
@media screen and (min-width: 1200px) {
  .hearthstoneDiscoverText {
    text-align: left;
    margin-top: none;
    font-size: 3rem;
  }
}
@media screen and (min-width: 1300px) {
  .hearthstoneDiscoverText {
    font-size: 4.2rem;
  }
}

.hearthstonePlaySection {
  background: url("https://res.cloudinary.com/du8n2aa4p/image/upload/v1616808279/blizzard/hearthstone/homepage_star_bg.jpg");
  background-size: cover;
  width: 100%;
  position: relative;
  padding-top: 10rem;
  padding-bottom: 30rem;
}
@media screen and (min-width: 768px) {
  .hearthstonePlaySection {
    padding-bottom: 40rem;
  }
}
@media screen and (min-width: 768px) {
  .hearthstonePlaySection {
    padding-bottom: 50rem;
  }
}
@media screen and (min-width: 992px) {
  .hearthstonePlaySection {
    padding-bottom: 40rem;
  }
}

.hearthstonePlayBoy,
.hearthstonePlayGirl {
  width: 100%;
}
@media screen and (min-width: 520px) {
  .hearthstonePlayBoy,
.hearthstonePlayGirl {
    width: 55rem;
  }
}
@media screen and (min-width: 768px) {
  .hearthstonePlayBoy,
.hearthstonePlayGirl {
    width: 60rem;
  }
}
@media screen and (min-width: 1200px) {
  .hearthstonePlayBoy,
.hearthstonePlayGirl {
    width: 75rem;
  }
}

.hearthstonePlayBoy {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (min-width: 992px) {
  .hearthstonePlayBoy {
    margin-top: 10rem;
  }
}

.hearthstonePlayGirl {
  animation: floatingGirl 2s infinite alternate;
}

@keyframes floatingGirl {
  from {
    transform: translate3d(0px, 5%, 0px);
  }
  to {
    transform: translate3d(0px, 0px, 0px);
  }
}
.chatWrap {
  position: absolute;
  top: 6rem;
  right: 1rem;
  width: 14rem;
}
@media screen and (min-width: 520px) {
  .chatWrap {
    right: 8rem;
    width: 24rem;
  }
}
@media screen and (min-width: 768px) {
  .chatWrap {
    right: 15rem;
    width: 34rem;
  }
}
@media screen and (min-width: 992px) {
  .chatWrap {
    left: 40rem;
  }
}
@media screen and (min-width: 1200px) {
  .chatWrap {
    left: 45rem;
  }
}

.chatTop {
  width: 100%;
  padding-top: 19%;
  background: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616807829/blizzard/hearthstone/a5p9agz3hfulzrspkgis.png) center center/100% no-repeat transparent;
}

.chatMiddle {
  background: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616808085/blizzard/hearthstone/leubrpaketr2bwv8pyhu.png) center center/contain repeat-y transparent;
}
.chatMiddle p {
  text-align: center;
  padding: 1rem 2rem;
  color: black;
  margin: 0;
  font-size: 1.4rem;
}
@media screen and (min-width: 768px) {
  .chatMiddle p {
    font-size: 1.7rem;
    padding: 1rem 4rem;
  }
}

.chatBottom {
  width: 100%;
  padding-bottom: 28%;
  background: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616808027/blizzard/hearthstone/fcmcfuristqntljl70re.png) center center/100% no-repeat transparent;
}

.hearthstoneHeroesSection {
  padding: 1rem 0;
  background: #21183f;
}

.hearthstoneHeroesSSectionTitle {
  text-align: center;
  margin: 0;
  margin-bottom: 5rem;
  padding: 0 5rem;
}
@media screen and (min-width: 768px) {
  .hearthstoneHeroesSSectionTitle {
    font-size: 3rem;
    margin-bottom: 10rem;
  }
}

.overwatchContainer {
  font-family: Big Noodle Titling, impact, sans-serif;
  color: #4b535d;
}

.overwatchBanner {
  width: 100%;
  height: 60rem;
  position: relative;
}

.overwatchBannerVid {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

.overwatchBannerLogo {
  position: absolute;
  width: 75%;
  max-width: 90rem;
  min-width: 30rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #fff;
}

.overwatchHeroesSection {
  position: relative;
  text-align: center;
  background-image: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616893557/blizzard/overwatch/candy-5d74c9b93f.jpg);
  background-position: top;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  clip-path: polygon(0 0, calc(50% - 720px) 0, calc(50% - 710px) 21px, calc(50% + 710px) 21px, calc(50% + 720px) 0, 100% 0, 100% 100%, 0 100%);
  margin-top: -8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.overwatchHeroesSectionTitleWrap {
  padding-top: 6rem;
}

.heroesSectionTitle {
  font-weight: normal;
  font-style: italic;
  font-size: 3.1rem;
  margin: 0;
}
@media screen and (min-width: 520px) {
  .heroesSectionTitle {
    font-size: 5.4rem;
  }
}
@media screen and (min-width: 1200px) {
  .heroesSectionTitle {
    font-size: 6.4rem;
  }
}

@media screen and (min-width: 992px) {
  .overwatchHeroesSectionTitleWrap {
    max-width: 75%;
  }
}

.heroesSectionTitleDesc {
  text-align: center;
  margin: 0;
  margin-top: 2rem;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}
@media screen and (min-width: 992px) {
  .heroesSectionTitleDesc {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .heroesSectionTitleDesc {
    font-size: 2.1rem;
  }
}

.overwatchHeroSpotlight {
  display: none;
  width: 100%;
  height: 20rem;
  align-items: center;
  background-image: linear-gradient(90deg, rgba(64, 82, 117, 0) 0, rgba(64, 82, 117, 0.8) 25%, rgba(64, 82, 117, 0.8) 75%, rgba(64, 82, 117, 0));
  background-position: 50%;
  background-size: 100% 200px;
  margin-top: 20rem;
}
@media screen and (min-width: 992px) {
  .overwatchHeroSpotlight {
    display: flex;
    justify-content: center;
  }
}

.heroSpotlightImage {
  height: 44rem;
  margin-top: 0rem;
  margin-right: 2rem;
}

.heroSpotlightTextWrap {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroSpotlightName {
  color: white;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 4.5rem;
}
@media screen and (min-width: 1200px) {
  .heroSpotlightName {
    font-size: 5.4rem;
  }
}

.heroSpotlightDesc {
  color: white;
  margin: 0;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
@media screen and (min-width: 1200px) {
  .heroSpotlightDesc {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
}

.overwatchHeroesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 10rem;
}
@media screen and (min-width: 520px) {
  .overwatchHeroesList {
    padding: 0 5rem;
  }
}
@media screen and (min-width: 768px) {
  .overwatchHeroesList {
    padding: 0 10rem;
  }
}
@media screen and (min-width: 992px) {
  .overwatchHeroesList {
    margin-top: 15rem;
  }
}
@media screen and (min-width: 1200px) {
  .overwatchHeroesList {
    padding: 0 30rem;
  }
}

.overwatchHeroPortraitAndNameWrap {
  transform: skew(25rad);
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.overwatchHeroPortrait {
  position: relative;
  width: 7.6rem;
  height: 8.4rem;
  border: 3px solid #f6f6f6;
  border-radius: 0.7rem;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.1s, -webkit-transform 0.1s;
  transform: skew(25rad);
  background-color: rgba(51, 51, 51, 0.9);
}
.overwatchHeroPortrait img {
  transform: skew(-25rad) translateX(-5px);
  width: 100%;
  width: calc(100% + 10px);
  height: 100%;
}

.overwatchHeroPortraitName {
  display: inline;
  position: relative;
  padding: 0.25rem 1rem;
  z-index: 1;
  background: transparent;
  margin: 0;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  margin-top: 0.25rem;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  margin-left: -18%;
  transition: all 0.1s ease-in;
}

.overwatchHeroPortraitAndNameWrap:hover .overwatchHeroPortrait:hover {
  transform: skew(25rad) scale(1.3);
  background-color: #ff9c00;
}
.overwatchHeroPortraitAndNameWrap:hover .overwatchHeroPortraitName {
  background: white;
  transition: all 0.1s ease-in;
}

.overwatchBuySection {
  border-top: 1px solid #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  margin-top: -0.3rem;
  background-image: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616958812/blizzard/overwatch/Buy-Footer-BG-2560.jpg);
  background-size: cover;
}
@media screen and (min-width: 520px) {
  .overwatchBuySection {
    flex-direction: row;
    align-items: flex-start;
  }
}

.overwatchBuyImageWrap {
  width: 32rem;
  padding: 0 2rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 520px) {
  .overwatchBuyImageWrap {
    padding: 0;
    margin-bottom: 0;
    margin-right: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .overwatchBuyImageWrap {
    margin-right: 4rem;
  }
}
.overwatchBuyImageWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overwatchBuyTextWrap .overwatchBuyTitle {
  text-align: center;
  font-style: italic;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 5.4rem;
  margin: 0;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 520px) {
  .overwatchBuyTextWrap .overwatchBuyTitle {
    text-align: left;
  }
}
@media screen and (min-width: 992px) {
  .overwatchBuyTextWrap .overwatchBuyTitle {
    font-size: 5.4rem;
  }
}
@media screen and (min-width: 1200px) {
  .overwatchBuyTextWrap .overwatchBuyTitle {
    margin-bottom: 0.5rem;
    font-size: 6.4rem;
  }
}
.overwatchBuyTextWrap p {
  margin: 0;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
}
@media screen and (min-width: 520px) {
  .overwatchBuyTextWrap p {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .overwatchBuyTextWrap p {
    font-size: 1.8rem;
  }
}

.wowContainer {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  background: black;
}

.wowBanner {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 992px) {
  .wowBanner {
    height: 60rem;
  }
}

.wowBannerVid {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

.wowMobileBannerImageWrap {
  width: 100%;
}
.wowMobileBannerImageWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wowBannerTextWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
}
@media screen and (min-width: 768px) {
  .wowBannerTextWrap {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 992px) {
  .wowBannerTextWrap {
    padding: 0;
    display: block;
    position: absolute;
    left: 3rem;
    top: 15rem;
    max-width: 75%;
  }
}
@media screen and (min-width: 1200px) {
  .wowBannerTextWrap {
    max-width: 50%;
  }
}

.wowBannerTitle {
  font-size: 3.7rem;
  text-transform: uppercase;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, 0.8);
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .wowBannerTitle {
    font-size: 4.3rem;
  }
}
@media screen and (min-width: 992px) {
  .wowBannerTitle {
    text-align: left;
  }
}

.wowBannerDesc {
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #ebdec2;
  margin: 0;
  font-weight: 400;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, 0.8);
}
@media screen and (min-width: 520px) {
  .wowBannerDesc {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 768px) {
  .wowBannerDesc {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 992px) {
  .wowBannerDesc {
    text-align: left;
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.wowContentContainer {
  color: #ebdec2;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, 0.8);
}

.wowBeginAndReturningWrap {
  margin-top: 5rem;
}
@media screen and (min-width: 992px) {
  .wowBeginAndReturningWrap {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }
}

.wowBeginContainer,
.wowReturningContainer {
  border: 1px solid #504137;
  background-image: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616969079/blizzard/wow/Panel-bg-stacked.18def74ed60ab9f1f4139f87349d2f79.jpg);
  background-size: cover;
}
.wowBeginContainer img,
.wowReturningContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wowBeginImageWrap {
  background-image: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616966965/blizzard/wow/QS8QDZEEPAJZ1591728956978.jpg);
  background-size: cover;
  width: 100%;
}

.wowReturningImageWrap {
  background-image: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616968095/blizzard/wow/ATDGB78UR6T41594224494516.jpg);
  background-size: cover;
  width: 100%;
}

.wowBeginImageWrap,
.wowReturningImageWrap {
  height: 16rem;
}
@media screen and (min-width: 520px) {
  .wowBeginImageWrap,
.wowReturningImageWrap {
    height: 33.5rem;
  }
}
@media screen and (min-width: 768px) {
  .wowBeginImageWrap,
.wowReturningImageWrap {
    height: 37.5rem;
  }
}

.wowBeginAndReturnTextWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.wowBeginAndReturnSubTitle {
  margin: 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.wowBeginAndReturnTitle {
  color: #f8b700;
  margin: 0;
  text-align: center;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .wowBeginAndReturnTitle {
    font-size: 2.8rem;
  }
}
@media screen and (min-width: 992px) {
  .wowBeginAndReturnTitle {
    font-size: 3rem;
  }
}

.wowBeginAndReturnSubTitle,
.wowBeginAndReturnDesc {
  line-height: 1.5;
  font-size: 1.3rem;
}
@media screen and (min-width: 768px) {
  .wowBeginAndReturnSubTitle,
.wowBeginAndReturnDesc {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 992px) {
  .wowBeginAndReturnSubTitle,
.wowBeginAndReturnDesc {
    font-size: 1.8rem;
  }
}

.wowBeginAndReturnDesc {
  text-align: center;
}

.wowContentInfoContainer {
  position: relative;
  margin-bottom: 0.5rem;
  border-top: 1px solid #504137;
}

.wowBackground {
  height: 22rem;
  width: 100%;
}
@media screen and (min-width: 520px) {
  .wowBackground {
    height: 33rem;
  }
}
@media screen and (min-width: 768px) {
  .wowBackground {
    height: 47rem;
  }
}
@media screen and (min-width: 992px) {
  .wowBackground {
    height: 51rem;
  }
}
@media screen and (min-width: 1200px) {
  .wowBackground {
    height: 55rem;
  }
}

.wowAdoptBackground {
  background: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616975031/blizzard/wow/37RJCZ9ZI4YL1616000970213.jpg);
  background-position: 30% 50%;
  background-size: cover;
}
@media screen and (min-width: 992px) {
  .wowAdoptBackground {
    background-position: 50% 50%;
  }
}

.wowContentInfoTextWrap {
  padding: 2rem;
  text-align: center;
  line-height: 1.5;
  position: relative;
}
@media screen and (min-width: 520px) {
  .wowContentInfoTextWrap {
    padding: 2rem 5rem;
  }
}
@media screen and (min-width: 992px) {
  .wowContentInfoTextWrap {
    padding: 0;
    text-align: right;
    position: absolute;
    right: 10rem;
    top: 10rem;
  }
}

.wowContentInfoSubTitle {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .wowContentInfoSubTitle {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .wowContentInfoSubTitle {
    font-size: 1.8rem;
  }
}

.wowContentInfoTitle {
  color: white;
  margin: 0;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .wowContentInfoTitle {
    font-size: 3.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .wowContentInfoTitle {
    font-size: 4.3rem;
  }
}

.wowContentInfoDesc {
  margin: 0;
  font-size: 1.4rem;
}
@media screen and (min-width: 992px) {
  .wowContentInfoDesc {
    max-width: 50%;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .wowContentInfoDesc {
    font-size: 2rem;
  }
}

.wowTBCBackground {
  background: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616979345/blizzard/wow/DBTWQDK3WSU01615485387498.jpg);
  background-size: cover;
  background-position: 65% 50%;
}
@media screen and (min-width: 992px) {
  .wowTBCBackground {
    background-position: 50% 50%;
  }
}

@media screen and (min-width: 992px) {
  .wowContentInfoAdjustLeftTextWrapForLgScreens {
    text-align: left;
    left: 10rem;
  }
  .wowContentInfoAdjustLeftTextWrapForLgScreens .wowContentInfoDesc {
    margin-left: 0;
    margin-right: auto;
  }
}

.wowMountBackground {
  background: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616980645/blizzard/wow/TQCYYTFQRSMN1612287065914.jpg);
  background-size: cover;
  background-position: 65% 50%;
}
@media screen and (min-width: 992px) {
  .wowMountBackground {
    background-position: 50% 50%;
  }
}

.wowCelebrationBackground {
  background: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616982056/blizzard/wow/3OQAZOKO05A21612222755219.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
@media screen and (min-width: 992px) {
  .wowCelebrationBackground {
    background-size: 120%;
    background-position: 0% 50%;
  }
}

.wowRecruitAFriendBackground {
  background: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616982388/blizzard/wow/E05HQYQ5JP6G1574128274055.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
@media screen and (min-width: 992px) {
  .wowRecruitAFriendBackground {
    background-position: 50% 50%;
  }
}

.wowShadowlandsBackground {
  background: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616982771/blizzard/wow/8CYVIMJNXFNZ1606119674398.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
@media screen and (min-width: 992px) {
  .wowShadowlandsBackground {
    background-size: 110%;
    background-position: 0% 50%;
  }
}

.warzoneContainer {
  font-family: "Roboto", sans-serif;
  color: #e5e3e3;
}

.warzoneBanner {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 992px) {
  .warzoneBanner {
    height: 60rem;
  }
}
.warzoneBanner img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.warzoneContentContainer {
  padding: 2rem 1rem;
}
@media screen and (min-width: 520px) {
  .warzoneContentContainer {
    padding: 2rem 3rem;
  }
}
@media screen and (min-width: 768px) {
  .warzoneContentContainer {
    padding: 2rem 5rem;
  }
}

.warzoneEndContentContainer,
.warzoneContentContainer {
  margin-top: -0.3rem;
  font-family: "Podkova", sans-serif;
  background: black;
}

.warzoneContentIntroWrapText {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}
@media screen and (min-width: 992px) {
  .warzoneContentIntroWrapText {
    margin-bottom: 10rem;
    max-width: 70%;
  }
}
.warzoneContentIntroWrapText .warzoneContentIntroTitle {
  transition: all 0.5s ease-in-out;
  transition-delay: 0.6s;
  font-size: 100%;
  text-transform: uppercase;
  margin: 0 0 1.6rem 0;
  font-size: calc(20px + 10 * ((100vw - 680px) / 520));
}
.warzoneContentIntroWrapText p {
  transition: all 0.5s ease-in-out;
  transition-delay: 0.6s;
  margin: 0;
  color: #a9a6a1;
  font-weight: 700;
  font-family: "Alegreya Sans", sans-serif;
  font-size: calc(20px + 10 * ((100vw - 680px) / 520));
}

.warzoneSingleImageContentWrap {
  position: relative;
  min-height: 22rem;
}
.warzoneSingleImageContentWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.warzoneSingleImageText {
  position: relaitve;
  margin-top: 2rem;
  left: 5rem;
  bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .warzoneSingleImageText {
    position: absolute;
  }
}
.warzoneSingleImageText h1,
.warzoneSingleImageText p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  display: inline;
  background: #000;
  padding: 2px;
}
@media screen and (min-width: 520px) {
  .warzoneSingleImageText h1,
.warzoneSingleImageText p {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 768px) {
  .warzoneSingleImageText h1,
.warzoneSingleImageText p {
    font-size: 2.3rem;
  }
}

.warzoneSingleImageTitleWrap {
  margin-bottom: 1rem;
}

.warzoneContentTitle {
  margin: 8rem 0 2rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
}
@media screen and (min-width: 520px) {
  .warzoneContentTitle {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 768px) {
  .warzoneContentTitle {
    margin: 15rem 0 2rem 0;
    font-size: 2.5rem;
  }
}

.warzoneEndContentContainer {
  padding-bottom: 10rem;
}
@media screen and (min-width: 520px) {
  .warzoneEndContentContainer {
    padding: 5rem 0;
  }
}
@media screen and (min-width: 768px) {
  .warzoneEndContentContainer {
    padding: 15rem 0;
  }
}

.warzoneFullImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40rem;
  background: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1617032862/blizzard/warzone/zeus-battle-pass-black-desktop.jpg) center center no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .warzoneFullImageContainer {
    height: 80rem;
  }
}

.warzoneFullImageTextWrap {
  max-width: 95%;
  text-align: center;
}
.warzoneFullImageTextWrap h1,
.warzoneFullImageTextWrap p {
  font-size: 1.3rem;
}
@media screen and (min-width: 520px) {
  .warzoneFullImageTextWrap h1,
.warzoneFullImageTextWrap p {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 768px) {
  .warzoneFullImageTextWrap h1,
.warzoneFullImageTextWrap p {
    font-size: 2.5rem;
  }
}

body {
  overflow-x: hidden;
}

.gameCarouselWrap {
  width: 100%;
}

.sliderAndDotWrap {
  position: relative;
}

.dotWrap {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: center;
  width: 100%;
  background-color: #0b0d12;
}
.dotWrap button {
  position: relative;
  transition: background-color 0.2s;
  background: rgba(255, 255, 255, 0.5);
  outline: none !important;
  box-shadow: none !important;
  border: none;
  margin: 0;
  margin-right: 0.3rem;
  width: 10rem;
  padding: 0.4rem;
}
.dotWrap .carousel__dot--selected {
  background: #0086ca !important;
}

.dotInnerWrap {
  padding-bottom: 0.5rem;
}

.homeCarouselContainer {
  position: relative;
  display: flex;
  width: 100%;
  cursor: pointer;
  height: 100%;
}
.homeCarouselContainer .pictureImageWrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.homeCarouselContainer .pictureImageWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
}
@media screen and (min-width: 768px) {
  .homeCarouselContainer .pictureImageWrap img {
    object-position: 60% 50%;
  }
}

.backgroundContainer {
  position: relative;
  background: black;
  height: 100%;
  text-align: center;
}

.dotFill {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00aeff;
}

.dotFillHide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

.slideImageLogoAndDescWrap {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .slideImageLogoAndDescWrap {
    padding-top: 5rem;
    padding-left: 5rem;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.slideImageLogo {
  width: 18rem;
}
@media screen and (min-width: 768px) {
  .slideImageLogo {
    width: 26rem;
  }
}

.slideDesc {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 0;
  margin-top: 1.5rem;
  text-shadow: 4px 7px 17px rgba(0, 0, 0, 0.8);
}
@media screen and (min-width: 520px) {
  .slideDesc {
    font-size: 4rem;
    margin-top: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .slideDesc {
    font-size: 4rem;
    margin-top: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .slideDesc {
    font-size: 6.8rem;
    width: 50rem;
  }
}

.slideBackground {
  width: 100%;
  height: 100%;
  background: red;
  background-size: cover;
}

.hearthstoneBannerCarouselContainer {
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 520px) {
  .hearthstoneBannerCarouselContainer {
    padding: 1rem 3rem;
  }
}
@media screen and (min-width: 992px) {
  .hearthstoneBannerCarouselContainer {
    padding: 1rem 5rem;
  }
}
.hearthstoneBannerCarouselContainer > .horizontalSlider___281Ls {
  display: flex;
  overflow: visible;
}
@media screen and (min-width: 520px) {
  .hearthstoneBannerCarouselContainer > .horizontalSlider___281Ls {
    overflow: hidden;
    display: block;
  }
}
.hearthstoneBannerCarouselContainer > .hearthstoneBannerSliderContainer {
  width: 50%;
  height: 100%;
}
@media screen and (min-width: 520px) {
  .hearthstoneBannerCarouselContainer > .hearthstoneBannerSliderContainer {
    width: 100%;
  }
}

.hearthstoneSlide {
  padding: 1rem 10rem;
  overflow: hidden;
  width: calc(100% + 18px);
  height: calc(100% + 23px);
  border-style: solid;
  border-width: 27px 27px 31px;
  border-image: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616723674/blizzard/hearthstone/homepage-frame-grid.png) 27 27 31 fill/1/0 stretch;
}
@media screen and (min-width: 500px) {
  .hearthstoneSlide {
    padding: 1rem 15rem;
  }
}
@media screen and (min-width: 520px) {
  .hearthstoneSlide {
    padding: 0;
  }
}

.hearthstoneBannerCarouselDotWrap {
  display: flex;
  justify-content: center;
  justify-content: center;
  width: 100%;
}
.hearthstoneBannerCarouselDotWrap .carousel__dot--selected {
  background: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616784253/blizzard/hearthstone/cpqvsulodizdkvxwekoj.png) center center/contain no-repeat !important;
}

.hearthstoneBannerCarouselDot {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  background: black;
  background: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616730418/blizzard/hearthstone/zwhtxgpdjr1stx55efsa.png) center center/contain no-repeat !important;
  transition: opacity 0.15s ease 0s;
  outline: none !important;
  box-shadow: none !important;
  border: none;
}
@media screen and (min-width: 768px) {
  .hearthstoneBannerCarouselDot {
    width: 4rem;
    height: 4rem;
    margin-right: 0.5rem;
  }
}

.hearthstoneBannerCarouselContainer {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
}
.hearthstoneBannerCarouselContainer .hearthstoneBannerCarouselImageWrap {
  width: 100%;
  height: 100%;
}
.hearthstoneBannerCarouselContainer .hearthstoneBannerCarouselImageWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
}
@media screen and (min-width: 768px) {
  .hearthstoneBannerCarouselContainer .hearthstoneBannerCarouselImageWrap img {
    object-position: 50% 50%;
  }
}

.hearthstoneBannerBackgroundContainer {
  position: relative;
  background-color: black;
  width: 100%;
  height: 100%;
  text-align: center;
}

.hearthstoneSlideImageLogoAndDescWrap {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .hearthstoneSlideImageLogoAndDescWrap {
    padding-top: 5rem;
    padding-left: 5rem;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.hearthstoneSlideDesc {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 0;
  margin-top: 1.5rem;
  text-shadow: 4px 7px 17px rgba(0, 0, 0, 0.8);
}
@media screen and (min-width: 520px) {
  .hearthstoneSlideDesc {
    font-size: 4rem;
    margin-top: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .hearthstoneSlideDesc {
    font-size: 4.5rem;
    margin-top: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .hearthstoneSlideDesc {
    font-size: 6rem;
    width: 50rem;
  }
}

.homeCareerContainer {
  width: 100%;
  height: 40rem;
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
}
.homeCareerContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homeCareerTextWrap {
  position: absolute;
  left: 3rem;
  top: 50%;
  transform: translateY(-50%);
}

.createWorldText {
  margin: 0;
  font-size: 4.4rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.careerDescText {
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  font-weight: normal;
  font-size: 2rem;
}

.embla {
  position: relative;
  background-color: #f7f7f7;
  padding: 20px;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  user-select: none;
  margin-top: -10px;
  height: 400px;
}

.embla__slide {
  position: relative;
  height: 100%;
  padding-top: 10px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.embla__slide__img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
}

footer {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.footerBlizzardLogo {
  width: 12rem;
  height: 12rem;
}

.hearthstoneCard {
  position: relative;
  width: 22rem;
  height: 31rem;
  z-index: 1;
  cursor: pointer;
}

.glow {
  display: block;
  content: "";
  position: absolute;
  animation: glow 1s infinite alternate;
  width: 85%;
  height: 85%;
  top: 50%;
  left: 50%;
  z-index: -1;
  opacity: 0.45;
  transform: translate3d(-50%, -50%, 0px);
  transition: opacity 0.25s ease-out 0s;
  max-width: 270px;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #aef4af;
  }
  to {
    box-shadow: 0 0 10px 10px #aef4af;
  }
}
.front,
.back {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.back {
  background-image: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616784197/blizzard/hearthstone/cardback.webp);
}

.hearthstoneCardCarouselProvider .sliderTray___-vHFQ {
  width: calc(23rem * 4) !important;
}

.hearthstoneCardSlideInnerWrap {
  width: 22rem;
  margin-top: 2rem;
}

.hearthstoneHeroesCarouselProvider .sliderTray___-vHFQ {
  width: calc(13.5rem * 7) !important;
}
@media screen and (min-width: 520px) {
  .hearthstoneHeroesCarouselProvider .sliderTray___-vHFQ {
    width: calc(23rem * 7) !important;
  }
}
@media screen and (min-width: 992px) {
  .hearthstoneHeroesCarouselProvider .sliderTray___-vHFQ {
    width: calc(25rem * 7) !important;
  }
}
@media screen and (min-width: 1200px) {
  .hearthstoneHeroesCarouselProvider .sliderTray___-vHFQ {
    width: calc(700% / 4) !important;
  }
}
@media screen and (min-width: 1200px) {
  .hearthstoneHeroesCarouselProvider {
    padding: 0 12rem;
  }
}

.hearthstoneHeroesSlideInnerWrap {
  width: 12rem;
  height: 100%;
  position: relative;
}
.hearthstoneHeroesSlideInnerWrap img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media screen and (min-width: 1200px) {
  .hearthstoneHeroesSlideInnerWrap img {
    width: 20rem;
  }
}
.hearthstoneHeroesSlideInnerWrap h4 {
  position: absolute;
  left: 50%;
  bottom: 5rem;
  transform: translateX(-50%);
  text-shadow: black 2px 0px 0px;
}
@media screen and (min-width: 520px) {
  .hearthstoneHeroesSlideInnerWrap h4 {
    bottom: 9rem;
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 520px) {
  .hearthstoneHeroesSlideInnerWrap {
    width: 20rem;
  }
}
@media screen and (min-width: 1200px) {
  .hearthstoneHeroesSlideInnerWrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.hearthstoneHeroesSliderAndButtonWrap {
  position: relative;
}

.hearthstoneHeroesBackButton,
.hearthstoneHeroesNextButton {
  width: 8rem;
  height: 7rem;
  outline: none !important;
  box-shadow: none !important;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hearthstoneHeroesBackButton {
  background: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616862907/blizzard/hearthstone/whjmirydlmnqdcmpn7fo.pnghttps://res.cloudinary.com/du8n2aa4p/image/upload/v1616862907/blizzard/hearthstone/whjmirydlmnqdcmpn7fo.png) -2px -3px no-repeat transparent;
  left: -10rem;
}

.hearthstoneHeroesNextButton {
  background: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1616862907/blizzard/hearthstone/whjmirydlmnqdcmpn7fo.png) -102px -3px no-repeat transparent;
  right: -10rem;
}

.hideHearthstoneButton {
  display: none;
}

.placeholder {
  width: 100%;
  height: 100%;
}

.overwatch2SlideExploreParentContainer {
  height: 80rem;
}

.overwatch2ExploreContainer {
  display: none;
}
@media screen and (min-width: 992px) {
  .overwatch2ExploreContainer {
    display: block;
  }
}

.overwatch2ExploreGround {
  position: absolute;
  bottom: -10%;
  left: -30rem;
  width: 120%;
  height: 100%;
  height: 120%;
}

.overwatch2ExploreCoast {
  position: absolute;
  bottom: -10%;
  left: -30rem;
  width: 120%;
  height: 100%;
}

.overwatch2ExploreShip {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .overwatch2ExploreShip {
    top: -10rem;
    left: -15rem;
    width: 80rem;
    height: 40rem;
  }
}
@media screen and (min-width: 1200px) {
  .overwatch2ExploreShip {
    top: -18rem;
    left: -10rem;
    width: 90rem;
    height: 50rem;
  }
}

.overwatch2ExploreTracer {
  position: absolute;
  cursor: pointer;
  transform: translateX(30%);
}
@media screen and (min-width: 992px) {
  .overwatch2ExploreTracer {
    left: -15rem;
    bottom: -1rem;
    width: 67rem;
    height: 57rem;
  }
}
@media screen and (min-width: 1200px) {
  .overwatch2ExploreTracer {
    left: -5rem;
    width: 81rem;
    height: 69rem;
  }
}

.overwatch2ExploreHighlightWhenOverlayIsOn {
  z-index: 2;
}

.exploreInfoTextWrap {
  display: flex;
  align-items: center;
  font-family: Config, sans-serif;
  padding: 0.5rem 1.5rem;
  position: absolute;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.333);
  border-radius: 5px;
}
.exploreInfoTextWrap h3 {
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  font-weight: 700;
  font-size: 2rem;
}

@media screen and (min-width: 992px) {
  .exploreTeamvsTeamTextWrap {
    bottom: 40rem;
    left: 60rem;
  }
}
@media screen and (min-width: 1200px) {
  .exploreTeamvsTeamTextWrap {
    bottom: 50rem;
    left: 90rem;
  }
}

@media screen and (min-width: 992px) {
  .exploreMissionsTextWrap {
    bottom: 30rem;
    right: 25rem;
  }
}
@media screen and (min-width: 1200px) {
  .exploreMissionsTextWrap {
    bottom: 25rem;
    right: 35rem;
  }
}

.overwatch2PlusCircleExplore {
  font-size: 3.5rem;
  color: white;
  margin-right: 1rem;
}

.overwatch2OverlayExplore {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overwatch2ExploreBot {
  position: absolute;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .overwatch2ExploreBot {
    bottom: 10rem;
    right: 15rem;
    width: 32rem;
    height: 26rem;
  }
}
@media screen and (min-width: 1200px) {
  .overwatch2ExploreBot {
    bottom: 10rem;
    right: 25rem;
    width: 39rem;
    height: 31rem;
  }
}

.overwatch2ExplorePodRight {
  position: absolute;
  right: 30rem;
  top: 0rem;
  width: 15rem;
  height: 15rem;
}

.overwatch2ExplorePodLeft {
  position: absolute;
  left: 30rem;
  top: 0rem;
  width: 15rem;
  height: 15rem;
}

.overwatch2Flier {
  position: absolute;
  right: 60rem;
  top: 20rem;
  width: 10rem;
  height: 10rem;
  animation: floatingFlier 2s infinite alternate;
}
@media screen and (min-width: 992px) {
  .overwatch2Flier {
    right: 40rem;
  }
}
@media screen and (min-width: 1200px) {
  .overwatch2Flier {
    bottom: 10rem;
    right: 36rem;
  }
}

@keyframes floatingFlier {
  from {
    transform: translate3d(0px, 10%, 0px);
  }
  to {
    transform: translate3d(0px, 0px, 0px);
  }
}
.overwatch2ExploreMobile {
  background: url(https://overwatch2-static.playoverwatch.com/9bff17453c4b61344f201071908821fc391221ca/static/images/menu/mobile/menu-bg-SM.jpg);
  background-size: cover;
  padding: 2rem 1rem;
}
@media screen and (min-width: 768px) {
  .overwatch2ExploreMobile {
    padding: 2rem 5rem;
  }
}

.overwatch2ExploreMobileCard {
  display: flex;
  background-color: rgba(255, 255, 255, 0.75);
  transition-duration: 0.25s, 0.25s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  border-radius: 2px;
  color: black;
  margin-bottom: 2rem;
  border: 1px solid white;
}

.overwatch2ExploreMobileCardImageWrap {
  width: 10rem;
}
@media screen and (min-width: 520px) {
  .overwatch2ExploreMobileCardImageWrap {
    width: 15rem;
  }
}
@media screen and (min-width: 768px) {
  .overwatch2ExploreMobileCardImageWrap {
    width: 20rem;
  }
}
.overwatch2ExploreMobileCardImageWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overwatch2ExploreMobileTextWrap {
  margin: auto 0;
  text-transform: uppercase;
  padding: 1rem;
  font-family: Config, sans-serif;
  margin-right: auto;
}

.overwatch2ExploreMobileCardSubTitle {
  font-weight: 700;
  font-size: 1.3rem;
  margin: 0;
}
@media screen and (min-width: 420px) {
  .overwatch2ExploreMobileCardSubTitle {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 520px) {
  .overwatch2ExploreMobileCardSubTitle {
    font-size: 2.1rem;
  }
}
@media screen and (min-width: 768px) {
  .overwatch2ExploreMobileCardSubTitle {
    font-size: 2.6rem;
  }
}

.overwatch2ExploreMobileCardTitle {
  margin: 0;
  font-size: 1.2rem;
}
@media screen and (min-width: 420px) {
  .overwatch2ExploreMobileCardTitle {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 520px) {
  .overwatch2ExploreMobileCardTitle {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .overwatch2ExploreMobileCardTitle {
    font-size: 3rem;
  }
}

.overwatch2MobileArrowWrap {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  background-color: white;
  margin-right: -1px;
}

.overwatch2MobileArrow {
  margin: auto 0;
  font-size: 2.2rem;
}
@media screen and (min-width: 520px) {
  .overwatch2MobileArrow {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .overwatch2MobileArrow {
    font-size: 4rem;
  }
}

.overwatch2SlideParentContainer {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.overwatch2SlideNextParentContainer {
  height: 30rem;
}
@media screen and (min-width: 520px) {
  .overwatch2SlideNextParentContainer {
    height: 51rem;
  }
}
@media screen and (min-width: 768px) {
  .overwatch2SlideNextParentContainer {
    min-height: 80rem;
  }
}
@media screen and (min-width: 1200px) {
  .overwatch2SlideNextParentContainer {
    min-height: 100rem;
  }
}

.overwatch2NextSlideContainer {
  position: absolute;
  top: -20%;
}
@media screen and (min-width: 520px) {
  .overwatch2NextSlideContainer {
    top: -15%;
  }
}

.overwatch2NextSky {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overwatch2NextRein {
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 30rem;
  height: 13rem;
}
@media screen and (min-width: 420px) {
  .overwatch2NextRein {
    left: 20%;
  }
}
@media screen and (min-width: 520px) {
  .overwatch2NextRein {
    left: 20%;
    width: 50rem;
    height: 23rem;
  }
}
@media screen and (min-width: 768px) {
  .overwatch2NextRein {
    left: 25%;
    width: 70rem;
    height: 33rem;
  }
}
@media screen and (min-width: 992px) {
  .overwatch2NextRein {
    left: 25%;
    width: 90rem;
    height: 43rem;
  }
}
@media screen and (min-width: 1200px) {
  .overwatch2NextRein {
    left: 29%;
    width: 115rem;
    height: 51rem;
  }
}

.overwatch2NextTracer {
  position: absolute;
  bottom: 0;
  width: 22rem;
  height: 22rem;
  position: absolute;
  left: -25%;
  transform: translateX(30%);
}
@media screen and (min-width: 420px) {
  .overwatch2NextTracer {
    left: -15%;
  }
}
@media screen and (min-width: 520px) {
  .overwatch2NextTracer {
    left: -15%;
    width: 32rem;
    height: 32rem;
  }
}
@media screen and (min-width: 768px) {
  .overwatch2NextTracer {
    left: 0%;
    width: 42rem;
    height: 42rem;
  }
}
@media screen and (min-width: 992px) {
  .overwatch2NextTracer {
    width: 51rem;
    height: 53rem;
  }
}
@media screen and (min-width: 1200px) {
  .overwatch2NextTracer {
    left: -5%;
    width: 65rem;
    height: 68rem;
  }
}

.overwatch2NextMei {
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 26rem;
  height: 26rem;
  transform: translateX(30%);
}
@media screen and (min-width: 420px) {
  .overwatch2NextMei {
    right: 15%;
  }
}
@media screen and (min-width: 520px) {
  .overwatch2NextMei {
    right: 10%;
    width: 36rem;
    height: 36rem;
  }
}
@media screen and (min-width: 992px) {
  .overwatch2NextMei {
    right: 5%;
    width: 63rem;
    height: 48rem;
  }
}
@media screen and (min-width: 1200px) {
  .overwatch2NextMei {
    bottom: 0;
    width: 80rem;
    height: 61rem;
  }
}

.overwatch2SlideLandingParentContainer {
  height: 55rem;
}
@media screen and (min-width: 520px) {
  .overwatch2SlideLandingParentContainer {
    height: 65rem;
  }
}
@media screen and (min-width: 768px) {
  .overwatch2SlideLandingParentContainer {
    min-height: 80rem;
  }
}
@media screen and (min-width: 1200px) {
  .overwatch2SlideLandingParentContainer {
    min-height: 100rem;
  }
}

.overwatch2Sky {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overwatch2LandingRein {
  position: absolute;
  bottom: 0;
  left: -40%;
  width: 50rem;
  height: 40rem;
}
@media screen and (min-width: 420px) {
  .overwatch2LandingRein {
    left: -20%;
  }
}
@media screen and (min-width: 520px) {
  .overwatch2LandingRein {
    left: -10%;
    width: 60rem;
    height: 50rem;
  }
}
@media screen and (min-width: 768px) {
  .overwatch2LandingRein {
    left: 5%;
    width: 65rem;
    height: 55rem;
  }
}
@media screen and (min-width: 1200px) {
  .overwatch2LandingRein {
    left: 15%;
    width: 70.6rem;
    height: 62rem;
  }
}

.overwatch2LandingTracer {
  position: absolute;
  width: 36rem;
  height: 36rem;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(30%);
}
@media screen and (min-width: 420px) {
  .overwatch2LandingTracer {
    left: 10%;
  }
}
@media screen and (min-width: 520px) {
  .overwatch2LandingTracer {
    left: 15%;
    width: 46rem;
    height: 46rem;
  }
}
@media screen and (min-width: 768px) {
  .overwatch2LandingTracer {
    left: 25%;
    width: 51rem;
    height: 51rem;
  }
}
@media screen and (min-width: 992px) {
  .overwatch2LandingTracer {
    left: 30%;
    width: 51rem;
    height: 51rem;
  }
}
@media screen and (min-width: 1200px) {
  .overwatch2LandingTracer {
    left: 40%;
    width: 43rem;
    height: 56rem;
  }
}

.overwatch2LandingCity {
  position: absolute;
  bottom: -10%;
  left: -30rem;
  width: 120%;
  height: 100%;
}

.OW2LogoSvg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  width: 15rem;
  height: 9.5rem;
  fill: white;
}
@media screen and (min-width: 520px) {
  .OW2LogoSvg {
    width: 20rem;
    height: 12.5rem;
  }
}
@media screen and (min-width: 768px) {
  .OW2LogoSvg {
    width: 22rem;
    height: 14.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .OW2LogoSvg {
    width: 27rem;
    height: 16.5rem;
  }
}

.overwatch2SlideContainer {
  position: absolute;
  top: -10%;
  right: -10vw;
  width: 120vw;
  height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*# sourceMappingURL=main.css.map */
