.hearthstoneContainer {
    font-family: "Belwe Bold";
}

.hearthstoneBanner {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(0, 0, 0);
        opacity: 0.4;
    }
    min-height: 70rem;
}

.hearthstoneBannerImage {
    background: url("https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt36a245168d60a815/5f737452ebec920d7046f481/evergreen-header-mobile.jpg")
        center top / cover no-repeat;
}
.hearthstoneBannerVid {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hearthstoneBannerTextWrap {
    padding: 3rem;
    position: relative;
    z-index: 1;
    width: 100%;
    padding-top: 5rem;
    @media screen and (min-width: $md_breakpoint) {
        width: 50rem;
        padding: 3rem 5rem;
    }
    @media screen and (min-width: $lg_breakpoint) {
        padding-top: 15rem;
    }
    @media screen and (min-width: $xl_breakpoint) {
        width: 70rem;
    }
}
.hearthstoneBannerTitle {
    margin: 0;
    margin-bottom: 2rem;
    font-size: 3rem;
    @media screen and (min-width: $md_breakpoint) {
        font-size: 4.4rem;
    }
}

.hearthstoneBannerDesc {
    font-size: 1.7rem;
}

.hearthstoneCardsSection {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-around;
    background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt87edf02f20f6dafb/5f974530ab20b60bdceae855/red-felt-bg.jpg)
        center top / cover no-repeat;
}
