.overwatchContainer {
    font-family: Big Noodle Titling, impact, sans-serif;
    color: #4b535d;
}
.overwatchBanner {
    width: 100%;
    height: 60rem;
    position: relative;
}

.overwatchBannerVid {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

.overwatchBannerLogo {
    position: absolute;
    width: 75%;
    max-width: 90rem;
    min-width: 30rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #fff;
}

.overwatchHeroesSection {
    position: relative;
    text-align: center;
    background-image: url("https://static.playoverwatch.com/img/scene/candy-5d74c9b93f.jpg");
    background-position: top;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    clip-path: polygon(
        0 0,
        calc(50% - 720px) 0,
        calc(50% - 710px) 21px,
        calc(50% + 710px) 21px,
        calc(50% + 720px) 0,
        100% 0,
        100% 100%,
        0 100%
    );
    margin-top: -8rem;
    display: flex;
    justify-content: center;
    padding: 0 2rem;
}
.overwatchHeroesSectionTitleWrap {
    padding-top: 6rem;
}
.heroesSectionTitle {
    font-weight: normal;
    font-size: 3.1rem;
    // @media screen and (min-width: $sm_breakpoint) {
    //     font-size: 3.1rem;
    // }
    @media screen and (min-width: $sm_breakpoint) {
        font-size: 5.4rem;
    }
    @media screen and (min-width: $xl_breakpoint) {
        font-size: 6.4rem;
    }
    margin: 0;
}

.overwatchHeroesSectionTitleWrap {
    @media screen and (min-width: $lg_breakpoint) {
        max-width: 75%;
    }
}
.heroesSectionTitleDesc {
    text-align: center;
    margin: 0;
    margin-top: 2rem;
    font-family: Roboto, Helvetica Neue, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
    @media screen and (min-width: $lg_breakpoint) {
        font-size: 2rem;
    }
    @media screen and (min-width: $xl_breakpoint) {
        font-size: 2.1rem;
    }
}
