body {
    overflow-x: hidden;
}
.overwatch2LandingContainer {
    position: absolute;
    top: 0;
    right: -10rem;
    width: 120vw;
    // height: 110vh;
    height: 80rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
.overwatch2Sky {
    position: absolute;
    width: 100%;
    height: 140%;
}

.overwatch2LandingRein {
    position: absolute;
    bottom: -10%;
    left: -40%;
    width: 50rem;
    height: 40rem;
    @media screen and (min-width: $sm_breakpoint) {
        left: -10%;
        width: 60rem;
        height: 50rem;
    }

    @media screen and (min-width: $md_breakpoint) {
        left: 5%;
        width: 65rem;
        height: 55rem;
    }

    @media screen and (min-width: $xl_breakpoint) {
        left: 10%;
        width: 70.6rem;
        height: 62rem;
    }
}

.overwatch2LandingTracer {
    position: absolute;
    bottom: -10%;
    width: 36rem;
    height: 36rem;
    position: absolute;

    left: 30%;
    @media screen and (min-width: $sm_breakpoint) {
        left: 35%;
        width: 46rem;
        height: 46rem;
    }
    @media screen and (min-width: $md_breakpoint) {
        left: 40%;
        width: 51rem;
        height: 51rem;
    }
    transform: translateX(30%);
    @media screen and (min-width: $xl_breakpoint) {
        left: 50%;
        width: 43rem;
        height: 56rem;
    }
}

.overwatch2LandingCity,
.overwatch2Coast,
.overwatch2ExploreGround {
    position: absolute;
    bottom: -10%;
    left: -30rem;
    width: 120%;
    height: 100%;
}

.OW2LogoSvg {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 15rem;
    height: 9.5rem;
    fill: white;
    @media screen and (min-width: $sm_breakpoint) {
        width: 20rem;
        height: 12.5rem;
    }
    @media screen and (min-width: $md_breakpoint) {
        width: 22rem;
        height: 14.5rem;
    }
    @media screen and (min-width: $xl_breakpoint) {
        left: 5%;
        width: 27rem;
        height: 16.5rem;
    }
}

.overwatch2ExploreGround {
    height: 120%;
}

.overwatch2ExploreShip {
    position: absolute;

    @media screen and (min-width: $md_breakpoint) {
        top: -20rem;
        left: -15rem;
        width: 80rem;
        height: 40rem;
    }
    @media screen and (min-width: $xl_breakpoint) {
        top: -25rem;
        left: 15rem;
        width: 90rem;
        height: 50rem;
    }
}

.overwatch2ExploreTracer {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    @media screen and (min-width: $lg_breakpoint) {
        left: -15rem;
        bottom: -1rem;
        width: 67rem;
        height: 57rem;
    }
    transform: translateX(30%);
    @media screen and (min-width: $xl_breakpoint) {
        left: -5rem;
        width: 81rem;
        height: 69rem;
    }

    // &:before {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 50rem;
    //     height: 50rem;
    //     background: red;
    // }
}

.overlayTest {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overwatch2ExploreBot {
    position: absolute;

    @media screen and (min-width: $lg_breakpoint) {
        bottom: 10rem;
        right: 15rem;
        width: 32rem;
        height: 26rem;
    }
    @media screen and (min-width: $xl_breakpoint) {
        bottom: 10rem;
        right: 25rem;
        width: 39rem;
        height: 31rem;
    }
}

.overwatch2ExplorePodRight {
    position: absolute;
    right: 30rem;
    top: 0rem;
    width: 15rem;
    height: 15rem;
}

.overwatch2ExplorePodLeft {
    position: absolute;
    left: 30rem;
    top: 0rem;
    width: 15rem;
    height: 15rem;
}

.overwatch2Flier {
    position: absolute;
    right: 60rem;
    top: 20rem;
    width: 10rem;
    height: 10rem;
    animation: floatingFlier 2s infinite alternate;
    @media screen and (min-width: $lg_breakpoint) {
        right: 40rem;
    }
    @media screen and (min-width: $xl_breakpoint) {
        bottom: 10rem;
        right: 36rem;
    }
}

@keyframes floatingFlier {
    from {
        transform: translate3d(0px, 10%, 0px);
    }
    to {
        transform: translate3d(0px, 0px, 0px);
    }
}
