.wowContainer {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    background: black;
}
.wowBanner {
    width: 100%;

    position: relative;
    @media screen and (min-width: $lg_breakpoint) {
        height: 60rem;
    }
}

.wowBannerVid {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

.wowMobileBannerImageWrap {
    width: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.wowBannerTextWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem;
    @media screen and (min-width: $md_breakpoint) {
        padding: 0 4rem;
    }
    @media screen and (min-width: $lg_breakpoint) {
        padding: 0;
        display: block;
        position: absolute;
        left: 3rem;
        top: 15rem;
        max-width: 75%;
    }
    @media screen and (min-width: $xl_breakpoint) {
        max-width: 50%;
    }
}

.wowBannerTitle {
    font-size: 3.7rem;
    text-transform: uppercase;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgb(0 0 0 / 80%);
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    @media screen and (min-width: $lg_breakpoint) {
        font-size: 4.3rem;
    }
    @media screen and (min-width: $lg_breakpoint) {
        text-align: left;
    }
}
.wowBannerDesc {
    text-align: center;
    line-height: 1.5;
    font-size: 1.5rem;

    @media screen and (min-width: $sm_breakpoint) {
        font-size: 1.6rem;
    }
    @media screen and (min-width: $md_breakpoint) {
        font-size: 1.8rem;
    }
    @media screen and (min-width: $lg_breakpoint) {
        text-align: left;
        font-size: 2rem;
        line-height: 2.5rem;
    }
    color: #ebdec2;
    margin: 0;

    font-weight: 400;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgb(0 0 0 / 80%);
}

.wowContentContainer {
    color: #ebdec2;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgb(0 0 0 / 80%);
}

.wowBeginAndReturningWrap {
    margin-top: 5rem;
    @media screen and (min-width: $lg_breakpoint) {
        margin-top: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
    }
}
.wowBeginContainer,
.wowReturningContainer {
    border: 1px solid #504137;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    background-image: url(https://assets.worldofwarcraft.com/static/components/Panel/Panel-bg-stacked.18def74ed60ab9f1f4139f87349d2f79.jpg);
    background-size: cover;
}
.wowBeginImageWrap {
    background-image: url("https://bnetcmsus-a.akamaihd.net/cms/template_resource/QS8QDZEEPAJZ1591728956978.jpg");
    background-size: cover;
    // height: 100%;
    width: 100%;
}

.wowReturningImageWrap {
    background-image: url(https://bnetcmsus-a.akamaihd.net/cms/template_resource/ATDGB78UR6T41594224494516.jpg);
    background-size: cover;
    // height: 100%;
    width: 100%;
}

.wowBeginImageWrap,
.wowReturningImageWrap {
    height: 16rem;
    @media screen and (min-width: $sm_breakpoint) {
        height: 33.5rem;
    }
    @media screen and (min-width: $md_breakpoint) {
        height: 37.5rem;
    }
}

.wowBeginAndReturnTextWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.wowBeginAndReturnSubTitle {
    margin: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.wowBeginAndReturnTitle {
    color: #f8b700;
    margin: 0;
    text-align: center;
    line-height: 1.5;
    @media screen and (min-width: $md_breakpoint) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: $lg_breakpoint) {
        font-size: 3rem;
    }
}

.wowBeginAndReturnSubTitle,
.wowBeginAndReturnDesc {
    line-height: 1.5;
    font-size: 1.3rem;
    @media screen and (min-width: $md_breakpoint) {
        font-size: 1.6rem;
    }
    @media screen and (min-width: $lg_breakpoint) {
        font-size: 1.8rem;
    }
}
.wowBeginAndReturnDesc {
    text-align: center;
}

.wowContentInfoContainer {
    // padding: 10rem;
    position: relative;
    margin-bottom: 0.5rem;
    border-top: 1px solid #504137;
}
.wowBackground {
    height: 22rem;
    width: 100%;
    @media screen and (min-width: $sm_breakpoint) {
        height: 33rem;
    }

    @media screen and (min-width: $md_breakpoint) {
        height: 47rem;
    }
    @media screen and (min-width: $lg_breakpoint) {
        height: 51rem;
    }
    @media screen and (min-width: $xl_breakpoint) {
        height: 55rem;
    }
}
.wowAdoptBackground {
    background: url(https://bnetcmsus-a.akamaihd.net/cms/template_resource/37RJCZ9ZI4YL1616000970213.jpg);
    background-position: 30% 50%;
    background-size: cover;
    @media screen and (min-width: $lg_breakpoint) {
        background-position: 50% 50%;
    }
}

.wowContentInfoTextWrap {
    padding: 2rem;
    text-align: center;
    line-height: 1.5;
    position: relative;
    @media screen and (min-width: $sm_breakpoint) {
        padding: 2rem 5rem;
    }
    @media screen and (min-width: $lg_breakpoint) {
        padding: 0;
        text-align: right;
        position: absolute;
        right: 10rem;
        top: 10rem;
    }
}
.wowContentInfoSubTitle {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 400;
    @media screen and (min-width: $md_breakpoint) {
        font-size: 1.6rem;
    }
    @media screen and (min-width: $xl_breakpoint) {
        font-size: 1.8rem;
    }
    margin: 0;
    margin-bottom: 1rem;
}
.wowContentInfoTitle {
    color: white;
    @media screen and (min-width: $md_breakpoint) {
        font-size: 3.6rem;
    }
    @media screen and (min-width: $xl_breakpoint) {
        font-size: 4.3rem;
    }
    margin: 0;
    margin-bottom: 1rem;
}
.wowContentInfoDesc {
    margin: 0;
    font-size: 1.4rem;

    @media screen and (min-width: $lg_breakpoint) {
        max-width: 50%;
        margin-left: auto;
    }
    @media screen and (min-width: $xl_breakpoint) {
        font-size: 2rem;
    }
}

.wowTBCBackground {
    background: url("https://bnetcmsus-a.akamaihd.net/cms/template_resource/DBTWQDK3WSU01615485387498.jpg");
    background-size: cover;
    background-position: 65% 50%;

    @media screen and (min-width: $lg_breakpoint) {
        background-position: 50% 50%;
    }
}

.wowContentInfoAdjustLeftTextWrapForLgScreens {
    @media screen and (min-width: $lg_breakpoint) {
        text-align: left;
        left: 10rem;
        .wowContentInfoDesc {
            margin-left: 0;
            margin-right: auto;
        }
    }
}

.wowMountBackground {
    background: url("https://bnetcmsus-a.akamaihd.net/cms/template_resource/TQCYYTFQRSMN1612287065914.jpg");
    background-size: cover;
    background-position: 65% 50%;

    @media screen and (min-width: $lg_breakpoint) {
        background-position: 50% 50%;
    }
}

.wowCelebrationBackground {
    background: url("https://bnetcmsus-a.akamaihd.net/cms/template_resource/3OQAZOKO05A21612222755219.jpg");
    background-size: cover;
    background-position: 50% 50%;

    @media screen and (min-width: $lg_breakpoint) {
        background-size: 120%;
        background-position: 0% 50%;
    }
}

.wowRecruitAFriendBackground {
    background: url("https://bnetcmsus-a.akamaihd.net/cms/template_resource/e0/E05HQYQ5JP6G1574128274055.jpg");
    background-size: cover;
    background-position: 50% 50%;

    @media screen and (min-width: $lg_breakpoint) {
        background-position: 50% 50%;
    }
}

.wowShadowlandsBackground {
    background: url("https://bnetcmsus-a.akamaihd.net/cms/template_resource/8CYVIMJNXFNZ1606119674398.jpg");
    background-size: cover;
    background-position: 50% 50%;

    @media screen and (min-width: $lg_breakpoint) {
        background-size: 110%;
        background-position: 0% 50%;
    }
}
